<div class = "flex justify-center">
  <div class = "mt-32 lg:w-4/5 2xl:w-3/5 grid grid-cols-6 gap-4   px-4 py-2">
      <div class = "border rounded px-6 py-4 col-span-2 h-96 flex-row shadow-lg">
        <div class = "flex items-center">
          <img src="/assets/img/icon.png" class = "rounded-full w-36 h-36"/>
          <div>
            <p class = "font-semibold pl-4" >{{username}}</p>
            <button *ngIf="!isOwner && !isSubscribed" (click)="subscribe()" 
            class="bg-sky-400 hover:bg-sky-500 text-white font-semibold py-1 px-4 mx-2 rounded focus:outline-none focus:shadow-outline">
              Подписаться
            </button>
            <button *ngIf="!isOwner && isSubscribed" (click)="unsubscribe()" 
            class="bg-sky-400 hover:bg-sky-500 text-white font-semibold py-1 px-4 mx-2 rounded focus:outline-none focus:shadow-outline">
              Отписаться
            </button>
          </div>
        </div>
        <div class = "flex-1">
          <p>Имя: {{user?.name}}</p>
          <p>Фамилия: {{user?.surname}}</p>
          <p>Страна: {{user?.country}}</p>
          <p>Дата рождения: {{user?.birthday}}</p>
        </div>
      </div>
      <div class = " border rounded px-6 py-4  col-span-4 shadow-lg">
        <p class = "font-semibold" style = "font-size: 28px;">Публикации</p>
        <p *ngIf="posts && posts.length === 0" class = "italic text-gray-500">Пока нет публикаций</p>
        <app-post *ngIf="posts && posts.length !== 0" [posts$]="posts" class="flex flex-col justify-center items-center"></app-post>
      </div>
  </div>
</div>