<nav class = "absolute top-0 right-0 left-0 h-[60px] px-3 flex justify-between items-center text-white bg-sky-300">
    <span class = "flex items-center">
        <img [src]="img_src" alt="image" class="object-cover h-11 w-11 mx-2" />
        <button (click)="routeToMain()" class="font-bold py-1 text-lg my-1" style = "font-size: 22px;">{{title}}</button>
        
    </span>

    <div *ngIf="isLoggedIn">
        <div class="relative inline-block text-left">
            <div>
              <button type="button" class="" (click)="showMenu()">
                <img [src]="img_src" alt="image" class="object-cover h-7 w-7 mx-2 rounded-full"/>
              </button>
            </div>
          
            
            <div *ngIf="isShowMenu" class="absolute right-4 z-10 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
                  role="menu" 
                  aria-orientation="vertical" 
                  aria-labelledby="menu-button"
                  >
              <div class="py-1" role="none">
                <div class = "font-semibold text-black px-4 py-2 text-sm">@{{username}}</div>
                <hr/>
                <a routerLink="/user-profile/{{username}}" 
                   class="text-gray-700 block px-4 py-2 text-sm bg-white hover:bg-gray-50 " 
                   role="menuitem" 
                   id="menu-item-0" 
                   (click)="showMenu()">Профиль</a>
                <a routerLink="" 
                   class="text-gray-700 block px-4 py-2 text-sm bg-white hover:bg-gray-50" 
                   role="menuitem" 
                   id="menu-item-1"
                   (click)="showMenu()">Поддержка</a>
                <hr/>
                <button type="submit" 
                        class="text-gray-700 block w-full px-4 py-2 text-left text-sm bg-white hover:bg-gray-50" 
                        role="menuitem" 
                        id="menu-item-3"
                        (click)="logout()">
                    Выйти
                </button>
              </div>
            </div>
          </div>

    </div>
    <div *ngIf="!isLoggedIn">
        <a routerLink="/login" class = "mr-2 font-bold button-link shadow-lg">Войти</a>
        <a routerLink="/signUp" class = "mr-2 font-bold sign-up shadow-lg">Регистрация</a>
    </div>
</nav>