<nav class = "absolute top-0 right-0 left-0 h-[60px] px-3 flex justify-between items-center text-white bg-sky-300">
    <span class = "flex items-center">
        <img [src]="img_src" alt="image" class="object-cover h-11 w-11 mx-2" />
        <a routerLink="/" class="font-bold py-1 text-lg my-1" style = "font-size: 22px;">{{title}}</a>
        <!--
        <form class = "pl-6">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </div>
                <input type="search" 
                       id="default-search" 
                       class="focus:outline-none w-96 block p-3 pl-10 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300  dark:placeholder-gray-400 dark:text-white " 
                       placeholder="Search" 
                       required="">
                <button type="submit" 
                        class="text-white absolute right-2 bottom-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Search
                </button>
            </div>
        </form>
        -->
    </span>

    <div *ngIf="isLoggedIn">
        <div class="relative inline-block text-left">
            <div>
              <button type="button" class="" (click)="showMenu()">
                <img [src]="img_src" alt="image" class="object-cover h-7 w-7 mx-2 rounded-full"/>
              </button>
            </div>
          
            
            <div *ngIf="isShowMenu" class="absolute right-4 z-10 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" 
                  role="menu" 
                  aria-orientation="vertical" 
                  aria-labelledby="menu-button"
                  >
              <div class="py-1" role="none">
                <div class = "font-semibold text-black px-4 py-2 text-sm">@{{username}}</div>
                <hr/>
                <a routerLink="/user-profile/{{username}}" 
                   class="text-gray-700 block px-4 py-2 text-sm bg-white hover:bg-gray-50 " 
                   role="menuitem" 
                   id="menu-item-0" 
                   (click)="showMenu()">Профиль</a>
                <a routerLink="" 
                   class="text-gray-700 block px-4 py-2 text-sm bg-white hover:bg-gray-50" 
                   role="menuitem" 
                   id="menu-item-1"
                   (click)="showMenu()">Поддержка</a>
                <hr/>
                <button type="submit" 
                        class="text-gray-700 block w-full px-4 py-2 text-left text-sm bg-white hover:bg-gray-50" 
                        role="menuitem" 
                        id="menu-item-3"
                        (click)="logout()">
                    Выйти
                </button>
              </div>
            </div>
          </div>

    </div>
    <div *ngIf="!isLoggedIn">
        <a routerLink="/login" class = "mr-2 font-bold button-link shadow-lg">Войти</a>
        <a routerLink="/signUp" class = "mr-2 font-bold sign-up shadow-lg">Регистрация</a>
    </div>
</nav>