<div class = "w-full" *ngFor="let post of posts$">
    <div  class = "my-4 mx-auto justify-center">
      
      <div class="w-full bg-white drop-shadow-lg rounded p-4">
        <div class = "border-b-2 flex justify-between font-semibold items-center">
          <a class = "" style = "font-size: 28px;" [routerLink]="post.url">{{post.subredditName}}</a>
          
          <a class = "" style = "" [routerLink]="post.url">@{{post.username}}</a>
        </div>
        <div class = "flex justify-between font-semibold">
          <a class = "" style = "font-size: 20px;" [routerLink]="post.url">{{post.postName}}</a>
        </div>
        <div class = "py-2 pb-2">
          <a role="button">
            <p [innerHtml]="post.description"></p>
          </a>
        </div>
        <div class = "flex justify-between items-center">
          <div class = "flex ">
            <div class = "border rounded shadow-md mr-1 px-1 hover:bg-gray-50">
                <a class = "px-1" role="button" routerLink="/view-post/{{post.id}}">
                    <fa-icon class = "text-gray-400" [icon]="comments"></fa-icon>
                    ({{post.commentCount}})
                </a>
            </div>
            <div class = "border rounded shadow-md px-1 hover:bg-gray-50">
                <a class = "px-1 " role="button">
                    <fa-icon [icon]="thumbsUp" class = "text-gray-400 "></fa-icon>
                    ({{post.voteCount}})
                </a>
            </div>
          </div>
          <div>
            <button class="bg-sky-500 hover:bg-sky-400 text-white font-semibold py-1 px-4 rounded focus:outline-none focus:shadow-outline"
                    (click)="goToPost(post.id)">
              Read
            </button>
          </div>
        </div>
      </div>

  </div>