<div class = "max-w-xl container w-full bg-white drop-shadow-lg rounded mb-2 pb-2">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div style="text-align: center; font-size: 1em">Добро пожаловать в INLINE.</div>
    <div class = "px-2 my-1" style="text-align: center">
        <button class="bg-sky-500 w-full hover:bg-sky-400 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                (click)="goToCreatePost()">Создать пост</button>
    </div>
    <div  class = "px-2 my-1" style="text-align: center">
        <button class="w-full hover:bg-sky-100 text-sky-500 border border-sky-500 font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                (click)="goToCreateSubreddit()">Создать тему</button>
    </div>
</div>